<h2 mat-dialog-title>Select Audio</h2>
<mat-dialog-content>
  <div class="form-group">
    <label for="audioFile">Upload from your computer:</label>
    <input type="file" id="audioFile" (change)="onFileSelected($event)" accept="audio/*" [disabled]="isUrlMode" >
  </div>
  <div>
    <label for="subtitleUpload">Upload Subtitle File:</label>
    <input type="file" id="subtitleUpload" (change)="onSubtitleChange($event)">
  </div>
  <div>
    <label for="audioUrl">Or provide a URL:</label>
    <input type="text" id="audioUrl" [(ngModel)]="audioUrl" [disabled]="isFileMode" >
    <button mat-button (click)="onUrlProvided()">Load URL</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="!isFormValid()">Submit</button>
</mat-dialog-actions>
